<a href="https://colab.research.google.com/github/krdlnsnks/Miuul/blob/main/CRM_MFR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import datetime as dt

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving online_retail_II.xlsx to online_retail_II.xlsx

In [ ]:
import io
df = pd.read_excel(io.BytesIO(uploaded['online_retail_II.xlsx']))

In [ ]:
print(df.head())
print(df.shape)

  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

          InvoiceDate   Price  Customer ID         Country
0 2009-12-01 07:45:00 6.95000  13085.00000  United Kingdom
1 2009-12-01 07:45:00 6.75000  13085.00000  United Kingdom
2 2009-12-01 07:45:00 6.75000  13085.00000  United Kingdom
3 2009-12-01 07:45:00 2.10000  13085.00000  United Kingdom
4 2009-12-01 07:45:00 1.25000  13085.00000  United Kingdom
(525461, 8)

In [ ]:
df["Description"].nunique()

4681

In [ ]:
df["Description"].value_counts().head()

WHITE HANGING HEART T-LIGHT HOLDER    3549
REGENCY CAKESTAND 3 TIER              2212
STRAWBERRY CERAMIC TRINKET BOX        1843
PACK OF 72 RETRO SPOT CAKE CASES      1466
ASSORTED COLOUR BIRD ORNAMENT         1457
Name: Description, dtype: int64

In [ ]:
df.groupby("Description").agg({"Quantity": "sum"}).head()

                                     Quantity
Description
21494                                    -720
22467                                      -2
22719                                       2
  DOORMAT UNION JACK GUNS AND ROSES       179
 3 STRIPEY MICE FELTCRAFT                 690

In [ ]:
df.groupby("Description").agg({"Quantity": "sum"}).sort_values("Quantity", ascending=False).head()

                                    Quantity
Description
WHITE HANGING HEART T-LIGHT HOLDER     57733
WORLD WAR 2 GLIDERS ASSTD DESIGNS      54698
BROCADE RING PURSE                     47647
PACK OF 72 RETRO SPOT CAKE CASES       46106
ASSORTED COLOUR BIRD ORNAMENT          44925

In [ ]:
df["Invoice"].nunique()

28816

In [ ]:
df["TotalPrice"] = df["Quantity"] * df["Price"]

In [ ]:
df.groupby("Invoice").agg({"TotalPrice": "sum"}).head()

         TotalPrice
Invoice
489434    505.30000
489435    145.80000
489436    630.33000
489437    310.75000
489438   2286.24000

In [ ]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
TotalPrice          0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

(417534, 9)

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Quantity,417534.00000,12.75881,101.22042,-9360.00000,2.00000,4.00000,12.00000,19152.00000
Price,417534.00000,3.88755,71.13180,0.00000,1.25000,1.95000,3.75000,25111.09000
Customer ID,417534.00000,15360.64548,1680.81132,12346.00000,13983.00000,15311.00000,16799.00000,18287.00000
TotalPrice,417534.00000,19.99408,99.91586,-25111.09000,4.25000,11.25000,19.35000,15818.40000

In [ ]:
df=df[~df["Invoice"].str.contains("C", na=False)]

In [ ]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95000,13085.00000,United Kingdom,83.40000
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom,81.00000
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75000,13085.00000,United Kingdom,81.00000
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10000,13085.00000,United Kingdom,100.80000
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25000,13085.00000,United Kingdom,30.00000

In [ ]:
df["Invoice"].max()

538171

In [ ]:
today_date=dt.datetime(2010, 12, 11)
type(today_date)

datetime.datetime

In [ ]:
rfm = df.groupby('Customer ID').agg({'InvoiceDate': lambda date: (today_date - date.max()).days,
                                     'Invoice': lambda num: num.nunique(),
                                     'TotalPrice': lambda TotalPrice: TotalPrice.sum()})

In [ ]:
rfm.head()

             InvoiceDate  Invoice  TotalPrice
Customer ID
12346.00000          165       11   372.86000
12347.00000            3        2  1323.32000
12348.00000           74        1   222.16000
12349.00000           43        3  2671.14000
12351.00000           11        1   300.93000

In [ ]:
rfm.columns = ['recency', 'frequency', 'monetary']

In [ ]:
rfm.head()

             recency  frequency   monetary
Customer ID
12346.00000      165         11  372.86000
12347.00000        3          2 1323.32000
12348.00000       74          1  222.16000
12349.00000       43          3 2671.14000
12351.00000       11          1  300.93000

In [ ]:
rfm.describe().T

,count,mean,std,min,25%,50%,75%,max
recency,4314.00000,91.26982,96.94430,1.00000,18.00000,53.00000,136.00000,374.00000
frequency,4314.00000,4.45410,8.16866,1.00000,1.00000,2.00000,5.00000,205.00000
monetary,4314.00000,2047.28866,8912.52324,0.00000,307.95000,705.55000,1722.80250,349164.35000

In [ ]:
rfm = rfm[rfm["monetary"] > 0]

In [ ]:
rfm.describe().T

,count,mean,std,min,25%,50%,75%,max
recency,4312.00000,91.17254,96.86146,1.00000,18.00000,53.00000,136.00000,374.00000
frequency,4312.00000,4.45571,8.17021,1.00000,1.00000,2.00000,5.00000,205.00000
monetary,4312.00000,2048.23824,8914.48128,2.95000,307.98750,706.02000,1723.14250,349164.35000

In [ ]:
rfm.shape

(4312, 3)

In [ ]:
rfm["recency_score"] = pd.qcut(rfm['recency'], 5, labels=[5,4,3,2,1])

In [ ]:
rfm["monetary_score"] = pd.qcut(rfm['monetary'], 5, labels=[1,2,3,4,5])

In [ ]:
rfm["frequency_score"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1,2,3,4,5])

In [ ]:
rfm["RFM_SCORE"] = (rfm['recency_score'].astype(str)+
                    rfm['frequency_score'].astype(str))

In [ ]:
rfm[rfm["RFM_SCORE"] == "55"]

,recency,frequency,monetary,recency_score,monetary_score,frequency_score,RFM_SCORE
Customer ID,,,,,,,
12415.00000,11,7,19543.84000,5,5,5,55
12431.00000,9,13,4370.52000,5,5,5,55
12471.00000,10,49,20139.74000,5,5,5,55
12472.00000,5,13,11308.48000,5,5,5,55
12474.00000,14,13,5048.66000,5,5,5,55
12483.00000,14,11,2635.60000,5,5,5,55
12490.00000,14,11,4405.71000,5,5,5,55
12523.00000,10,12,2582.38000,5,5,5,55
12540.00000,14,16,8854.25000,5,5,5,55
12567.00000,3,7,4308.58000,5,5,5,55
12583.00000,9,13,7166.06000,5,5,5,55
12600.00000,7,12,2444.88000,5,5,5,55
12621.00000,1,16,11086.14000,5,5,5,55
12647.00000,3,27,14201.53000,5,5,5,55
12662.00000,9,10,3138.24000,5,5,5,55
12678.00000,11,9,16652.72000,5,5,5,55
12681.00000,3,24,17080.74000,5,5,5,55
12682.00000,1,23,11745.69000,5,5,5,55
12683.00000,1,8,4220.21000,5,5,5,55
12708.00000,4,9,2601.19000,5,5,5,55
12709.00000,2,20,21356.82000,5,5,5,55
12712.00000,1,10,2797.53000,5,5,5,55
12747.00000,5,16,5080.53000,5,5,5,55
12748.00000,1,144,22879.66000,5,5,5,55
12755.00000,1,10,5218.71000,5,5,5,55
12779.00000,7,7,2740.91000,5,5,5,55
12838.00000,9,9,2715.35000,5,5,5,55
12839.00000,3,13,4480.31000,5,5,5,55
12841.00000,5,17,3518.33000,5,5,5,55
12872.00000,1,11,3085.52000,5,5,5,55
12913.00000,4,9,4217.23000,5,5,5,55
12921.00000,2,39,19333.95000,5,5,5,55
12928.00000,14,7,2242.19000,5,5,5,55
12935.00000,11,8,2083.16000,5,4,5,55
12939.00000,15,12,13683.00000,5,5,5,55
12971.00000,2,33,4782.88000,5,5,5,55
12976.00000,14,7,2417.78000,5,5,5,55
13013.00000,7,18,7814.83000,5,5,5,55
13021.00000,10,8,2270.86000,5,5,5,55
13047.00000,9,17,5557.62000,5,5,5,55
13050.00000,2,19,6507.67000,5,5,5,55
13069.00000,5,16,5247.01000,5,5,5,55
13077.00000,2,8,2335.40000,5,5,5,55
13078.00000,2,32,16904.51000,5,5,5,55
13081.00000,7,19,30867.77000,5,5,5,55
13089.00000,4,109,57912.03000,5,5,5,55
13090.00000,1,13,5192.27000,5,5,5,55
13093.00000,9,48,47111.18000,5,5,5,55
13102.00000,1,14,5272.83000,5,5,5,55
13113.00000,2,14,6379.77000,5,5,5,55
13117.00000,1,12,1658.90000,5,4,5,55
13126.00000,2,7,1898.61000,5,4,5,55
13136.00000,11,8,3666.95000,5,5,5,55
13173.00000,3,10,2285.70000,5,5,5,55
13174.00000,5,10,6677.81000,5,5,5,55
13199.00000,2,30,6615.77000,5,5,5,55
13230.00000,1,17,3553.81000,5,5,5,55
13267.00000,2,18,5236.77000,5,5,5,55
13269.00000,5,14,3545.47000,5,5,5,55
13305.00000,8,7,1753.85000,5,4,5,55
13319.00000,1,34,11236.95000,5,5,5,55
13327.00000,1,14,6251.71000,5,5,5,55
13329.00000,2,7,4323.97000,5,5,5,55
13394.00000,15,11,4101.68000,5,5,5,55
13408.00000,7,46,23616.42200,5,5,5,55
13418.00000,8,15,6106.17000,5,5,5,55
13448.00000,9,9,5701.50000,5,5,5,55
13450.00000,10,7,2076.32000,5,4,5,55
13468.00000,4,38,7685.54000,5,5,5,55
13485.00000,12,10,2564.98000,5,5,5,55
13488.00000,3,11,6619.57000,5,5,5,55
13491.00000,8,18,3350.74000,5,5,5,55
13510.00000,11,7,2766.73000,5,5,5,55
13534.00000,15,10,1850.82000,5,4,5,55
13542.00000,12,17,4006.17000,5,5,5,55
13555.00000,14,9,4849.91000,5,5,5,55
13564.00000,4,35,15500.53000,5,5,5,55
13576.00000,9,11,4834.40000,5,5,5,55
13590.00000,11,12,4367.67000,5,5,5,55
13599.00000,2,14,5013.96000,5,5,5,55
13611.00000,10,7,2147.73000,5,5,5,55
13634.00000,10,11,3498.31000,5,5,5,55
13693.00000,10,9,2011.82000,5,4,5,55
13694.00000,9,94,131443.19000,5,5,5,55
13715.00000,8,13,7403.95000,5,5,5,55
13735.00000,12,9,6927.98000,5,5,5,55
13756.00000,3,10,4017.98000,5,5,5,55
13758.00000,2,10,6226.43000,5,5,5,55
13767.00000,5,39,18320.17000,5,5,5,55
13769.00000,3,11,3003.91000,5,5,5,55
13777.00000,2,37,30501.26000,5,5,5,55
13798.00000,8,54,38683.02000,5,5,5,55
13802.00000,10,16,21659.69000,5,5,5,55
13824.00000,15,7,1615.82000,5,4,5,55
13831.00000,5,13,4820.59000,5,5,5,55
13838.00000,5,7,1274.36000,5,4,5,55
13842.00000,2,10,2244.29000,5,5,5,55
13854.00000,1,15,4144.44000,5,5,5,55
13881.00000,11,23,28019.58000,5,5,5,55
13901.00000,10,10,2809.14000,5,5,5,55
13911.00000,15,11,1654.08000,5,4,5,55
13941.00000,8,11,6009.34000,5,5,5,55
13958.00000,15,8,4709.23000,5,5,5,55
13963.00000,3,14,2347.33000,5,5,5,55
13969.00000,1,18,4311.93000,5,5,5,55
13983.00000,2,10,4505.02000,5,5,5,55
13984.00000,2,8,1128.09000,5,4,5,55
13985.00000,10,7,2960.73000,5,5,5,55
13993.00000,15,10,3309.35000,5,5,5,55
13995.00000,15,9,2508.32000,5,5,5,55
13999.00000,10,17,5600.45000,5,5,5,55
14001.00000,9,7,2487.01000,5,5,5,55
14030.00000,2,14,5902.20000,5,5,5,55
14031.00000,1,27,23712.31000,5,5,5,55
14045.00000,9,13,9653.28000,5,5,5,55
14047.00000,8,10,2946.42000,5,5,5,55
14051.00000,2,15,6823.61000,5,5,5,55
14060.00000,2,13,3378.66000,5,5,5,55
14062.00000,10,12,15139.35000,5,5,5,55
14081.00000,5,9,4435.58000,5,5,5,55
14085.00000,4,16,5656.43000,5,5,5,55
14092.00000,10,10,3152.54000,5,5,5,55
14099.00000,11,9,2661.54000,5,5,5,55
14113.00000,11,12,5252.19000,5,5,5,55
14135.00000,3,11,4953.61000,5,5,5,55
14156.00000,7,102,196566.74000,5,5,5,55
14159.00000,15,9,3245.00000,5,5,5,55
14180.00000,8,9,1570.73000,5,4,5,55
14210.00000,7,11,3955.68000,5,5,5,55
14217.00000,2,7,1411.91000,5,4,5,55
14243.00000,1,8,4842.28000,5,5,5,55
14282.00000,3,11,4120.32000,5,5,5,55
14298.00000,11,38,39667.19000,5,5,5,55
14299.00000,1,19,10533.87000,5,5,5,55
14329.00000,11,8,4912.38000,5,5,5,55
14344.00000,3,14,2443.77000,5,5,5,55
14388.00000,8,9,3488.16000,5,5,5,55
14395.00000,8,12,4700.30000,5,5,5,55
14404.00000,5,8,1424.79000,5,4,5,55
14415.00000,15,10,6191.32000,5,5,5,55
14422.00000,10,13,6007.88000,5,5,5,55
14440.00000,1,9,4281.05000,5,5,5,55
14441.00000,10,7,2898.80000,5,5,5,55
14466.00000,8,7,2374.50000,5,5,5,55
14527.00000,1,69,19283.48000,5,5,5,55
14540.00000,15,8,2799.08000,5,5,5,55
14560.00000,15,22,3876.26000,5,5,5,55
14606.00000,2,102,18704.41000,5,5,5,55
14608.00000,15,7,1567.79000,5,4,5,55
14625.00000,10,9,3598.25000,5,5,5,55
14646.00000,10,78,248396.50000,5,5,5,55
14667.00000,1,31,12685.94000,5,5,5,55
14680.00000,7,43,28658.66000,5,5,5,55
14688.00000,9,8,2082.70000,5,4,5,55
14702.00000,1,13,3462.08000,5,5,5,55
14709.00000,15,12,3965.29000,5,5,5,55
14710.00000,15,9,1316.46000,5,4,5,55
14713.00000,1,11,2752.51000,5,5,5,55
14723.00000,7,7,934.76000,5,3,5,55
14739.00000,3,19,8385.22000,5,5,5,55
14744.00000,2,8,2785.10000,5,5,5,55
14748.00000,4,7,1736.57000,5,4,5,55
14796.00000,2,11,2867.15000,5,5,5,55
14821.00000,2,7,1237.65000,5,4,5,55
14825.00000,4,13,2698.17000,5,5,5,55
14841.00000,10,8,3867.24000,5,5,5,55
14849.00000,9,21,7832.91000,5,5,5,55
14866.00000,2,8,6460.32000,5,5,5,55
14878.00000,12,16,2619.70000,5,5,5,55
14896.00000,1,7,1623.65000,5,4,5,55
14898.00000,7,9,2204.29000,5,5,5,55
14905.00000,10,6,1355.24000,5,4,5,55
14907.00000,3,10,2664.69000,5,5,5,55
14911.00000,1,205,152147.57000,5,5,5,55
14915.00000,11,9,1503.77000,5,4,5,55
14961.00000,15,13,9365.47000,5,5,5,55
14963.00000,15,7,1676.68000,5,4,5,55
14987.00000,1,7,1387.45000,5,4,5,55
15002.00000,3,6,3175.52000,5,5,5,55
15005.00000,2,29,7789.63000,5,5,5,55
15023.00000,5,10,5367.92000,5,5,5,55
15024.00000,3,8,2414.18000,5,5,5,55
15032.00000,2,7,8821.55000,5,5,5,55
15039.00000,4,47,20116.99000,5,5,5,55
15044.00000,15,18,8504.10000,5,5,5,55
15051.00000,15,6,2543.55000,5,5,5,55
15059.00000,12,10,2185.85000,5,5,5,55
15061.00000,3,86,83284.38000,5,5,5,55
15078.00000,4,23,8018.77000,5,5,5,55
15079.00000,1,8,2871.74000,5,5,5,55
15081.00000,3,8,1460.92000,5,4,5,55
15093.00000,8,18,9729.09000,5,5,5,55
15100.00000,2,6,2018.70000,5,4,5,55
15144.00000,15,12,5579.87000,5,5,5,55
15194.00000,4,14,4811.16000,5,5,5,55
15199.00000,10,6,1853.70000,5,4,5,55
15235.00000,5,6,690.30000,5,3,5,55
15240.00000,10,7,2753.41000,5,5,5,55
15260.00000,8,20,7377.46000,5,5,5,55
15271.00000,1,10,2202.47000,5,5,5,55
15281.00000,14,7,6211.42000,5,5,5,55
15288.00000,1,6,1576.61000,5,4,5,55
15291.00000,9,26,9178.26000,5,5,5,55
15298.00000,2,12,4659.47000,5,5,5,55
15299.00000,8,6,3484.53000,5,5,5,55
15301.00000,4,6,2533.09000,5,5,5,55
15311.00000,1,121,56003.26000,5,5,5,55
15329.00000,10,8,1934.63000,5,4,5,55
15332.00000,2,6,4892.68000,5,5,5,55
15353.00000,3,6,2398.93000,5,5,5,55
15358.00000,1,22,8703.21000,5,5,5,55
15373.00000,7,6,1005.48000,5,4,5,55
15380.00000,1,7,1788.80000,5,4,5,55
15382.00000,10,6,7777.84000,5,5,5,55
15434.00000,10,6,1525.58000,5,4,5,55
15465.00000,5,15,5301.03000,5,5,5,55
15498.00000,2,19,12723.18000,5,5,5,55
15513.00000,1,18,12992.33000,5,5,5,55
15514.00000,15,7,2459.09000,5,5,5,55
15518.00000,15,7,2276.49000,5,5,5,55
15532.00000,12,6,2190.97000,5,5,5,55
15544.00000,8,12,4615.72000,5,5,5,55
15547.00000,12,12,5199.55000,5,5,5,55
15550.00000,14,8,1643.17000,5,4,5,55
15555.00000,1,22,7307.18000,5,5,5,55
15570.00000,5,14,5145.52000,5,5,5,55
15580.00000,12,8,1381.19000,5,4,5,55
15581.00000,2,26,4114.62000,5,5,5,55
15601.00000,8,17,8183.56000,5,5,5,55
15602.00000,4,8,1932.64000,5,4,5,55
15628.00000,2,9,2782.02000,5,5,5,55
15638.00000,14,6,2265.20000,5,5,5,55
15640.00000,8,15,11441.92000,5,5,5,55
15660.00000,1,7,1212.13000,5,4,5,55
15661.00000,15,6,906.15000,5,3,5,55
15680.00000,2,8,3173.90000,5,5,5,55
15681.00000,15,9,1563.54000,5,4,5,55
15694.00000,1,12,4331.41000,5,5,5,55
15712.00000,15,7,2400.05000,5,5,5,55
15716.00000,5,8,1938.00000,5,4,5,55
15732.00000,8,9,1387.95000,5,4,5,55
15738.00000,8,26,8560.55000,5,5,5,55
15747.00000,11,6,1588.57000,5,4,5,55
15750.00000,2,12,4331.71100,5,5,5,55
15755.00000,15,11,3628.87000,5,5,5,55
15769.00000,7,21,32451.60000,5,5,5,55
15785.00000,15,11,3640.96000,5,5,5,55
15796.00000,10,9,2464.27000,5,5,5,55
15808.00000,5,18,14674.96000,5,5,5,55
15827.00000,8,16,1957.98000,5,4,5,55
15838.00000,3,16,40519.92000,5,5,5,55
15854.00000,12,9,2609.16000,5,5,5,55
15856.00000,1,26,17832.77000,5,5,5,55
15858.00000,3,9,2521.52000,5,5,5,55
15860.00000,4,10,1528.00000,5,4,5,55
15862.00000,9,10,2095.41000,5,4,5,55
15867.00000,5,17,5251.31000,5,5,5,55
15882.00000,4,6,979.62000,5,3,5,55
15889.00000,5,7,1359.41000,5,4,5,55
15898.00000,3,22,4207.43000,5,5,5,55
15916.00000,2,7,1899.08000,5,4,5,55
15950.00000,11,6,5415.20000,5,5,5,55
15953.00000,5,11,2010.17000,5,4,5,55
15955.00000,8,9,4242.10000,5,5,5,55
15965.00000,3,10,2167.45000,5,5,5,55
15967.00000,15,10,2622.77000,5,5,5,55
15983.00000,1,6,2483.80000,5,5,5,55
15984.00000,4,21,5921.65000,5,5,5,55
16005.00000,11,6,1820.83000,5,4,5,55
16010.00000,12,8,1316.56000,5,4,5,55
16011.00000,2,14,2517.75000,5,5,5,55
16013.00000,7,39,20315.84000,5,5,5,55
16029.00000,8,47,41184.30000,5,5,5,55
16033.00000,5,8,2019.73000,5,4,5,55
16059.00000,3,7,1757.91000,5,4,5,55
16065.00000,1,8,2010.53000,5,4,5,55
16086.00000,3,6,1743.60000,5,4,5,55
16094.00000,11,7,2617.33000,5,5,5,55
16098.00000,9,8,2442.47000,5,5,5,55
16125.00000,3,14,4298.30000,5,5,5,55
16126.00000,15,11,8359.03000,5,5,5,55
16131.00000,11,6,6450.88000,5,5,5,55
16133.00000,12,23,8403.22000,5,5,5,55
16143.00000,5,7,2485.89000,5,5,5,55
16150.00000,8,6,2342.57000,5,5,5,55
16161.00000,4,25,7256.24000,5,5,5,55
16168.00000,5,40,6848.87000,5,5,5,55
16186.00000,8,15,5019.17000,5,5,5,55
16191.00000,11,11,10507.50000,5,5,5,55
16210.00000,4,19,17403.21000,5,5,5,55
16218.00000,9,7,1355.29000,5,4,5,55
16221.00000,3,7,1370.65000,5,4,5,55
16233.00000,2,7,1429.03000,5,4,5,55
16255.00000,1,8,2286.89000,5,5,5,55
16293.00000,3,6,2408.96000,5,5,5,55
16327.00000,5,11,6887.12000,5,5,5,55
16353.00000,5,16,3323.75000,5,5,5,55
16359.00000,12,7,946.83000,5,3,5,55
16365.00000,3,7,1766.78000,5,4,5,55
16393.00000,5,11,2515.45000,5,5,5,55
16401.00000,15,11,2750.83000,5,5,5,55
16422.00000,5,59,28967.07000,5,5,5,55
16455.00000,7,6,2543.19000,5,5,5,55
16456.00000,9,9,4704.54000,5,5,5,55
16458.00000,11,12,2232.60000,5,5,5,55
16499.00000,10,6,2212.89000,5,5,5,55
16510.00000,8,6,1851.90000,5,4,5,55
16525.00000,2,23,11555.19000,5,5,5,55
16539.00000,9,7,2343.20000,5,5,5,55
16550.00000,4,14,7136.16000,5,5,5,55
16556.00000,11,10,4698.79000,5,5,5,55
16558.00000,2,19,5535.02000,5,5,5,55
16570.00000,15,10,3695.91000,5,5,5,55
16592.00000,11,12,3694.23000,5,5,5,55
16600.00000,10,7,1339.89000,5,4,5,55
16638.00000,4,6,749.81000,5,3,5,55
16658.00000,4,6,690.83000,5,3,5,55
16684.00000,15,27,80489.21000,5,5,5,55
16700.00000,2,13,4091.16000,5,5,5,55
16709.00000,15,9,6057.59000,5,5,5,55
16710.00000,4,13,3866.05000,5,5,5,55
16713.00000,2,18,7637.56000,5,5,5,55
16717.00000,2,9,3127.85000,5,5,5,55
16719.00000,4,8,2182.88000,5,5,5,55
16722.00000,2,11,4258.27000,5,5,5,55
16725.00000,7,8,1101.09000,5,4,5,55
16754.00000,8,29,65500.07000,5,5,5,55
16775.00000,3,6,1361.23000,5,4,5,55
16779.00000,2,32,22638.52000,5,5,5,55
16782.00000,1,26,8158.51000,5,5,5,55
16814.00000,5,16,5990.61000,5,5,5,55
16839.00000,5,11,5716.14000,5,5,5,55
16858.00000,4,10,4292.59000,5,5,5,55
16883.00000,7,18,2119.86000,5,4,5,55
16891.00000,7,7,1247.12000,5,4,5,55
16904.00000,3,7,1378.10000,5,4,5,55
16905.00000,7,11,1931.72000,5,4,5,55
16919.00000,4,14,2529.46000,5,5,5,55
16923.00000,11,13,6130.75000,5,5,5,55
16928.00000,9,13,1265.63000,5,4,5,55
16950.00000,3,8,2605.81000,5,5,5,55
16954.00000,15,11,3996.80000,5,5,5,55
16985.00000,12,13,5459.04000,5,5,5,55
17001.00000,12,8,2651.23000,5,5,5,55
17017.00000,1,13,5416.35000,5,5,5,55
17019.00000,4,8,2739.59000,5,5,5,55
17044.00000,10,11,11013.82000,5,5,5,55
17049.00000,11,10,4287.50000,5,5,5,55
17068.00000,4,27,4608.94000,5,5,5,55
17069.00000,9,6,3084.58000,5,5,5,55
17085.00000,12,23,6324.76000,5,5,5,55
17090.00000,10,6,1105.53000,5,4,5,55
17091.00000,3,11,3983.34000,5,5,5,55
17150.00000,12,6,1375.65000,5,4,5,55
17160.00000,10,11,6691.13000,5,5,5,55
17191.00000,4,11,2740.92000,5,5,5,55
17211.00000,5,6,1729.43000,5,4,5,55
17213.00000,2,7,2401.07000,5,5,5,55
17218.00000,4,9,2231.96000,5,5,5,55
17227.00000,4,7,1082.71000,5,4,5,55
17228.00000,3,7,1271.15000,5,4,5,55
17235.00000,8,7,1354.82000,5,4,5,55
17238.00000,7,17,4038.45000,5,5,5,55
17243.00000,5,44,12213.01000,5,5,5,55
17262.00000,2,7,1504.26000,5,4,5,55
17281.00000,10,6,797.85000,5,3,5,55
17287.00000,3,16,3047.85000,5,5,5,55
17289.00000,12,6,1134.98000,5,4,5,55
17324.00000,2,9,1311.64000,5,4,5,55
17338.00000,11,9,5498.64000,5,5,5,55
17340.00000,2,8,10051.53000,5,5,5,55
17345.00000,11,6,1066.94000,5,4,5,55
17346.00000,9,12,2646.44000,5,5,5,55
17364.00000,12,17,7589.24000,5,5,5,55
17368.00000,11,6,913.47000,5,3,5,55
17377.00000,1,60,14218.49000,5,5,5,55
17381.00000,4,12,19726.76000,5,5,5,55
17389.00000,10,27,25391.00000,5,5,5,55
17396.00000,7,7,1476.30000,5,4,5,55
17402.00000,5,12,2462.33000,5,5,5,55
17406.00000,2,11,2704.63000,5,5,5,55
17412.00000,8,10,3159.46000,5,5,5,55
17419.00000,3,8,2273.95000,5,5,5,55
17428.00000,4,18,14562.91000,5,5,5,55
17450.00000,3,7,52422.30000,5,5,5,55
17457.00000,15,9,4247.11000,5,5,5,55
17460.00000,8,12,1605.84000,5,4,5,55
17470.00000,3,7,1679.80000,5,4,5,55
17491.00000,3,8,2422.20000,5,5,5,55
17511.00000,3,31,84541.17000,5,5,5,55
17519.00000,4,10,3265.45000,5,5,5,55
17526.00000,1,9,2970.14000,5,5,5,55
17552.00000,8,10,2154.88000,5,5,5,55
17572.00000,9,7,496.26000,5,2,5,55
17576.00000,1,23,5434.13000,5,5,5,55
17581.00000,8,20,7712.71000,5,5,5,55
17596.00000,4,7,2092.74000,5,4,5,55
17612.00000,15,12,3346.41000,5,5,5,55
17646.00000,1,10,3141.40000,5,5,5,55
17673.00000,11,7,2604.46000,5,5,5,55
17675.00000,3,40,17885.32000,5,5,5,55
17677.00000,2,28,20329.68000,5,5,5,55
17682.00000,4,6,1982.45000,5,4,5,55
17685.00000,8,6,2751.64000,5,5,5,55
17690.00000,2,8,2690.15000,5,5,5,55
17706.00000,2,17,10245.49000,5,5,5,55
17707.00000,12,6,456.90000,5,2,5,55
17720.00000,3,7,1572.97000,5,4,5,55
17732.00000,8,8,2166.42000,5,5,5,55
17735.00000,3,8,4134.91000,5,5,5,55
17739.00000,10,11,4939.24000,5,5,5,55
17754.00000,10,8,2805.27000,5,5,5,55
17757.00000,4,28,3817.16000,5,5,5,55
17790.00000,14,6,818.06000,5,3,5,55
17802.00000,8,8,3768.08000,5,5,5,55
17809.00000,7,11,5925.48000,5,5,5,55
17811.00000,10,8,1772.07000,5,4,5,55
17819.00000,7,6,2907.65000,5,5,5,55
17838.00000,1,10,3943.60000,5,5,5,55
17841.00000,1,91,29892.50000,5,5,5,55
17850.00000,8,155,51208.87000,5,5,5,55
17858.00000,5,19,7641.99000,5,5,5,55
17863.00000,5,7,2585.20000,5,5,5,55
17865.00000,11,26,15848.07000,5,5,5,55
17873.00000,9,14,4656.72000,5,5,5,55
17884.00000,4,18,2355.44000,5,5,5,55
17888.00000,10,17,1094.39000,5,4,5,55
17894.00000,2,11,1333.57000,5,4,5,55
17897.00000,3,8,2018.40000,5,4,5,55
17905.00000,9,10,1583.28000,5,4,5,55
17920.00000,4,39,20312.36000,5,5,5,55
17921.00000,15,6,1596.98000,5,4,5,55
17949.00000,7,74,60117.60000,5,5,5,55
17950.00000,1,6,950.61000,5,3,5,55
17954.00000,3,9,1633.33000,5,4,5,55
17961.00000,8,62,1699.10000,5,4,5,55
17965.00000,1,17,4618.41000,5,5,5,55
17975.00000,2,12,2540.02000,5,5,5,55
18025.00000,15,6,1177.72000,5,4,5,55
18041.00000,1,20,4568.99000,5,5,5,55
18055.00000,3,6,4411.38000,5,5,5,55
18061.00000,2,19,4369.56000,5,5,5,55
18075.00000,10,10,3171.54000,5,5,5,55
18077.00000,2,8,1705.55000,5,4,5,55
18087.00000,15,15,10705.80000,5,5,5,55
18092.00000,1,8,7111.18000,5,5,5,55
18102.00000,1,89,349164.35000,5,5,5,55
18109.00000,5,13,1840.99000,5,4,5,55
18144.00000,9,8,2169.25000,5,5,5,55
18168.00000,8,11,2600.33000,5,5,5,55
18170.00000,10,6,1897.69000,5,4,5,55
18219.00000,4,8,1493.12000,5,4,5,55
18225.00000,1,15,7545.14000,5,5,5,55
18226.00000,14,15,6650.83000,5,5,5,55
18229.00000,2,10,3526.81000,5,5,5,55
18245.00000,15,13,3757.92000,5,5,5,55
18260.00000,10,17,7318.91000,5,5,5,55

In [ ]:
rfm[rfm["RFM_SCORE"] == "11"]

,recency,frequency,monetary,recency_score,monetary_score,frequency_score,RFM_SCORE
Customer ID,,,,,,,
12355.00000,203,1,488.21000,1,2,1,11
12362.00000,374,1,130.00000,1,1,1,11
12366.00000,269,1,500.24000,1,2,1,11
12368.00000,264,1,917.70000,1,3,1,11
12378.00000,198,1,1407.70000,1,4,1,11
12392.00000,227,1,234.75000,1,1,1,11
12396.00000,310,1,931.43000,1,3,1,11
12404.00000,318,1,63.24000,1,1,1,11
12416.00000,292,1,202.56000,1,1,1,11
12426.00000,298,1,762.48000,1,3,1,11
12443.00000,368,1,485.31000,1,2,1,11
12459.00000,241,1,454.36000,1,2,1,11
12466.00000,318,1,56.73000,1,1,1,11
12470.00000,325,1,211.95000,1,1,1,11
12487.00000,366,1,285.30000,1,2,1,11
12495.00000,276,1,357.40000,1,2,1,11
12499.00000,196,1,393.72000,1,2,1,11
12503.00000,220,1,1126.00000,1,4,1,11
12507.00000,220,1,539.25000,1,3,1,11
12514.00000,277,1,580.08000,1,3,1,11
12531.00000,322,1,1807.98000,1,4,1,11
12555.00000,318,1,129.23000,1,1,1,11
12568.00000,280,1,70.00000,1,1,1,11
12570.00000,318,1,77.52000,1,1,1,11
12580.00000,212,1,637.20000,1,3,1,11
12606.00000,318,1,21.00000,1,1,1,11
12619.00000,196,1,140.14000,1,1,1,11
12636.00000,374,1,141.00000,1,1,1,11
12638.00000,275,1,249.80000,1,1,1,11
12671.00000,242,1,2622.48100,1,5,1,11
12672.00000,231,1,211.15000,1,1,1,11
12692.00000,273,1,110.95000,1,1,1,11
12698.00000,226,1,339.75000,1,2,1,11
12717.00000,226,1,277.93000,1,2,1,11
12742.00000,261,1,1201.52000,1,4,1,11
12773.00000,200,1,124.25000,1,1,1,11
12776.00000,303,1,55.50000,1,1,1,11
12780.00000,234,1,337.40000,1,2,1,11
12786.00000,245,1,728.50000,1,3,1,11
12796.00000,264,1,381.00000,1,2,1,11
12821.00000,247,1,128.08000,1,1,1,11
12829.00000,186,1,92.30000,1,1,1,11
12837.00000,205,1,554.31000,1,3,1,11
12846.00000,318,1,15.58000,1,1,1,11
12848.00000,311,1,208.00000,1,1,1,11
12860.00000,329,1,55.47000,1,1,1,11
12861.00000,255,1,68.25000,1,1,1,11
12869.00000,317,1,337.67000,1,2,1,11
12894.00000,211,1,157.35000,1,1,1,11
12911.00000,187,1,1680.47000,1,4,1,11
12918.00000,262,1,10953.50000,1,5,1,11
12925.00000,228,1,35.28000,1,1,1,11
12934.00000,372,1,181.65000,1,1,1,11
12941.00000,360,1,377.49000,1,2,1,11
12945.00000,292,1,437.16000,1,2,1,11
12954.00000,274,1,162.45000,1,1,1,11
12969.00000,238,1,122.45000,1,1,1,11
12974.00000,201,1,264.15000,1,2,1,11
12979.00000,365,1,517.70000,1,3,1,11
12983.00000,234,1,490.08000,1,2,1,11
12992.00000,361,1,93.35000,1,1,1,11
13000.00000,361,1,497.65000,1,2,1,11
13007.00000,215,1,175.25000,1,1,1,11
13009.00000,308,1,234.00000,1,1,1,11
13025.00000,367,1,323.39000,1,2,1,11
13036.00000,320,1,307.10000,1,2,1,11
13053.00000,257,1,127.65000,1,1,1,11
13056.00000,187,1,209.48000,1,1,1,11
13071.00000,248,1,129.22000,1,1,1,11
13087.00000,362,1,313.64000,1,2,1,11
13109.00000,187,1,347.49000,1,2,1,11
13111.00000,354,1,321.88000,1,2,1,11
13112.00000,177,1,20.60000,1,1,1,11
13114.00000,366,1,234.38000,1,1,1,11
13119.00000,304,1,134.90000,1,1,1,11
13128.00000,267,1,263.50000,1,2,1,11
13143.00000,220,1,405.10000,1,2,1,11
13163.00000,246,1,17.65000,1,1,1,11
13168.00000,178,1,556.12000,1,3,1,11
13169.00000,198,1,127.20000,1,1,1,11
13179.00000,254,1,572.31000,1,3,1,11
13180.00000,243,1,86.10000,1,1,1,11
13191.00000,294,1,164.69000,1,1,1,11
13197.00000,245,1,373.01000,1,2,1,11
13204.00000,367,1,966.66000,1,3,1,11
13217.00000,291,1,132.50000,1,1,1,11
13219.00000,254,1,76.23000,1,1,1,11
13220.00000,211,1,516.80000,1,3,1,11
13222.00000,213,1,88.50000,1,1,1,11
13286.00000,236,1,734.91000,1,3,1,11
13289.00000,359,1,307.95000,1,2,1,11
13294.00000,282,1,815.79000,1,3,1,11
13308.00000,232,1,284.86000,1,2,1,11
13315.00000,325,1,310.26000,1,2,1,11
13337.00000,182,1,1575.26000,1,4,1,11
13383.00000,179,1,305.28000,1,2,1,11
13388.00000,239,1,508.55000,1,3,1,11
13392.00000,313,1,91.14000,1,1,1,11
13400.00000,218,1,310.83000,1,2,1,11
13412.00000,256,1,487.35000,1,2,1,11
13416.00000,372,1,228.30000,1,1,1,11
13438.00000,183,1,46.50000,1,1,1,11
13445.00000,262,1,241.90000,1,1,1,11
13454.00000,277,1,219.87000,1,1,1,11
13469.00000,289,1,82.40000,1,1,1,11
13482.00000,263,1,151.45000,1,1,1,11
13490.00000,290,1,154.25000,1,1,1,11
13498.00000,366,1,327.38000,1,2,1,11
13508.00000,278,1,176.08000,1,1,1,11
13511.00000,312,1,282.76000,1,2,1,11
13530.00000,270,1,402.98000,1,2,1,11
13551.00000,302,1,152.40000,1,1,1,11
13553.00000,310,1,517.80000,1,3,1,11
13583.00000,315,1,664.00100,1,3,1,11
13586.00000,177,1,131.53000,1,1,1,11
13600.00000,270,1,298.90000,1,2,1,11
13604.00000,294,1,717.62000,1,3,1,11
13609.00000,229,1,167.35000,1,1,1,11
13612.00000,268,1,818.29000,1,3,1,11
13622.00000,332,1,658.95000,1,3,1,11
13625.00000,232,1,301.26000,1,2,1,11
13628.00000,312,1,310.14000,1,2,1,11
13640.00000,247,1,405.00000,1,2,1,11
13661.00000,239,1,325.24000,1,2,1,11
13672.00000,366,1,233.53000,1,1,1,11
13688.00000,271,1,375.50000,1,2,1,11
13695.00000,213,1,266.60000,1,2,1,11
13699.00000,186,1,455.57000,1,2,1,11
13706.00000,262,1,300.38000,1,2,1,11
13712.00000,246,1,537.58000,1,3,1,11
13724.00000,273,1,213.01000,1,1,1,11
13745.00000,182,1,477.32000,1,2,1,11
13757.00000,310,1,195.55000,1,1,1,11
13765.00000,289,1,352.82100,1,2,1,11
13775.00000,226,1,1049.66000,1,4,1,11
13793.00000,282,1,96.00000,1,1,1,11
13794.00000,182,1,126.03000,1,1,1,11
13830.00000,217,1,156.85000,1,1,1,11
13847.00000,355,1,310.72000,1,2,1,11
13852.00000,246,1,187.35000,1,1,1,11
13879.00000,281,1,395.50000,1,2,1,11
13896.00000,261,1,388.55000,1,2,1,11
13905.00000,368,1,312.65000,1,2,1,11
13907.00000,327,1,136.80000,1,1,1,11
13943.00000,213,1,246.54000,1,1,1,11
13944.00000,289,1,200.43000,1,1,1,11
13974.00000,218,1,264.13000,1,2,1,11
14003.00000,368,1,209.41000,1,1,1,11
14017.00000,207,1,229.75000,1,1,1,11
14018.00000,281,1,367.15000,1,2,1,11
14033.00000,191,1,109.44000,1,1,1,11
14039.00000,211,1,115.08000,1,1,1,11
14042.00000,361,1,431.98000,1,2,1,11
14070.00000,320,1,326.55000,1,2,1,11
14072.00000,302,1,390.85000,1,2,1,11
14074.00000,259,1,219.40000,1,1,1,11
14079.00000,318,1,243.63000,1,1,1,11
14095.00000,358,1,2.95000,1,1,1,11
14106.00000,373,1,214.80000,1,1,1,11
14123.00000,369,1,436.18000,1,2,1,11
14128.00000,187,1,286.71000,1,2,1,11
14131.00000,284,1,187.87000,1,1,1,11
14133.00000,369,1,305.50000,1,2,1,11
14137.00000,331,1,332.70000,1,2,1,11
14171.00000,366,1,135.00000,1,1,1,11
14190.00000,302,1,79.90000,1,1,1,11
14200.00000,253,1,379.20000,1,2,1,11
14207.00000,323,1,157.80000,1,1,1,11
14208.00000,187,1,415.31000,1,2,1,11
14241.00000,332,1,120.00000,1,1,1,11
14244.00000,296,1,366.42000,1,2,1,11
14255.00000,182,1,1000.63000,1,4,1,11
14274.00000,322,1,256.60000,1,2,1,11
14284.00000,289,1,704.40000,1,3,1,11
14311.00000,203,1,206.19000,1,1,1,11
14325.00000,205,1,245.48000,1,1,1,11
14330.00000,259,1,200.63000,1,1,1,11
14347.00000,372,1,82.60000,1,1,1,11
14361.00000,214,1,214.71000,1,1,1,11
14374.00000,177,1,108.00000,1,1,1,11
14376.00000,319,1,215.46000,1,1,1,11
14378.00000,257,1,131.25000,1,1,1,11
14380.00000,318,1,48.96000,1,1,1,11
14391.00000,212,1,135.60000,1,1,1,11
14394.00000,200,1,93.80000,1,1,1,11
14402.00000,288,1,285.60000,1,2,1,11
14436.00000,189,1,182.64000,1,1,1,11
14459.00000,287,1,3537.82100,1,5,1,11
14468.00000,369,1,204.24000,1,1,1,11
14472.00000,325,1,291.38000,1,2,1,11
14474.00000,215,1,730.42000,1,3,1,11
14483.00000,372,1,120.00000,1,1,1,11
14495.00000,295,1,51.00000,1,1,1,11
14497.00000,309,1,221.69000,1,1,1,11
14537.00000,259,1,285.84000,1,2,1,11
14545.00000,310,1,349.25000,1,2,1,11
14574.00000,368,1,143.70000,1,1,1,11
14581.00000,180,1,295.20000,1,2,1,11
14588.00000,214,1,135.39000,1,1,1,11
14596.00000,262,1,229.47000,1,1,1,11
14598.00000,205,1,162.07000,1,1,1,11
14602.00000,292,1,205.36000,1,1,1,11
14604.00000,269,1,143.86000,1,1,1,11
14613.00000,316,1,76.32000,1,1,1,11
14619.00000,177,1,896.80000,1,3,1,11
14637.00000,313,1,106.68000,1,1,1,11
14645.00000,270,1,279.80000,1,2,1,11
14650.00000,225,1,62.50000,1,1,1,11
14654.00000,374,1,246.86000,1,1,1,11
14670.00000,368,1,190.47000,1,1,1,11
14677.00000,228,1,184.91000,1,1,1,11
14678.00000,215,1,403.39000,1,2,1,11
14683.00000,224,1,146.56000,1,1,1,11
14694.00000,253,1,244.31000,1,1,1,11
14706.00000,254,1,390.69000,1,2,1,11
14717.00000,369,1,81.30000,1,1,1,11
14724.00000,226,1,345.25000,1,2,1,11
14726.00000,290,1,124.75000,1,1,1,11
14743.00000,228,1,50.48000,1,1,1,11
14750.00000,372,1,112.03000,1,1,1,11
14762.00000,262,1,117.05000,1,1,1,11
14773.00000,228,1,140.55000,1,1,1,11
14783.00000,295,1,307.30000,1,2,1,11
14786.00000,186,1,90.96000,1,1,1,11
14788.00000,232,1,476.88000,1,2,1,11
14791.00000,242,1,303.63000,1,2,1,11
14799.00000,373,1,180.45000,1,1,1,11
14812.00000,234,1,185.80000,1,1,1,11
14814.00000,217,1,160.46000,1,1,1,11
14832.00000,266,1,322.69000,1,2,1,11
14845.00000,235,1,150.00000,1,1,1,11
14851.00000,266,1,318.06000,1,2,1,11
14859.00000,190,1,351.90000,1,2,1,11
14873.00000,269,1,334.45000,1,2,1,11
14879.00000,320,1,185.06000,1,1,1,11
14884.00000,305,1,120.60000,1,1,1,11
14892.00000,326,1,202.35000,1,1,1,11
14893.00000,253,1,571.76000,1,3,1,11
14920.00000,201,1,629.40000,1,3,1,11
14928.00000,263,1,223.91000,1,1,1,11
14935.00000,255,1,1065.12000,1,4,1,11
14941.00000,214,1,182.10000,1,1,1,11
14943.00000,299,1,107.62000,1,1,1,11
14954.00000,339,1,167.27000,1,1,1,11
14955.00000,368,1,163.77000,1,1,1,11
14957.00000,280,1,274.80000,1,2,1,11
14969.00000,339,1,906.23000,1,3,1,11
14977.00000,361,1,31.93000,1,1,1,11
14979.00000,371,1,439.46000,1,2,1,11
14980.00000,373,1,150.68000,1,1,1,11
14982.00000,208,1,237.78000,1,1,1,11
14983.00000,325,1,183.20000,1,1,1,11
14989.00000,297,1,342.40000,1,2,1,11
14993.00000,199,1,36.13000,1,1,1,11
14997.00000,291,1,230.40000,1,1,1,11
14999.00000,228,1,129.48000,1,1,1,11
15022.00000,313,1,281.05000,1,2,1,11
15025.00000,204,1,636.08000,1,3,1,11
15029.00000,255,1,365.10000,1,2,1,11
15040.00000,177,1,7.49000,1,1,1,11
15042.00000,231,1,179.52000,1,1,1,11
15082.00000,304,1,93.35000,1,1,1,11
15085.00000,365,1,347.54000,1,2,1,11
15112.00000,247,1,209.40000,1,1,1,11
15115.00000,368,1,191.74000,1,1,1,11
15135.00000,192,1,166.63000,1,1,1,11
15152.00000,337,1,518.14000,1,3,1,11
15162.00000,367,1,312.90000,1,2,1,11
15176.00000,303,1,988.04000,1,3,1,11
15188.00000,361,1,310.43000,1,2,1,11
15209.00000,366,1,178.98000,1,1,1,11
15216.00000,254,1,389.49000,1,2,1,11
15217.00000,199,1,426.24000,1,2,1,11
15219.00000,284,1,379.70000,1,2,1,11
15229.00000,222,1,160.50000,1,1,1,11
15231.00000,257,1,250.26000,1,1,1,11
15244.00000,302,1,280.51000,1,2,1,11
15246.00000,191,1,266.25000,1,2,1,11
15250.00000,276,1,60.00000,1,1,1,11
15256.00000,197,1,71.95000,1,1,1,11
15273.00000,235,1,228.96000,1,1,1,11
15282.00000,206,1,348.59000,1,2,1,11
15293.00000,301,1,247.50000,1,1,1,11
15295.00000,290,1,217.24000,1,1,1,11
15302.00000,366,1,308.00000,1,2,1,11
15305.00000,191,1,93.60000,1,1,1,11
15317.00000,313,1,129.75000,1,1,1,11
15324.00000,337,1,140.22000,1,1,1,11
15338.00000,313,1,283.43000,1,2,1,11
15340.00000,197,1,105.50000,1,1,1,11
15352.00000,184,1,114.95000,1,1,1,11
15371.00000,298,1,59.40000,1,1,1,11
15374.00000,260,1,139.32000,1,1,1,11
15375.00000,326,1,60.96000,1,1,1,11
15391.00000,220,1,289.87000,1,2,1,11
15396.00000,219,1,508.20000,1,3,1,11
15405.00000,212,1,310.74000,1,2,1,11
15409.00000,357,1,131.25000,1,1,1,11
15432.00000,177,1,149.57000,1,1,1,11
15437.00000,276,1,193.29000,1,1,1,11
15445.00000,226,1,171.00000,1,1,1,11
15448.00000,310,1,294.17000,1,2,1,11
15454.00000,254,1,128.59000,1,1,1,11
15455.00000,233,1,38.25000,1,1,1,11
15470.00000,211,1,63.42000,1,1,1,11
15474.00000,231,1,163.10000,1,1,1,11
15477.00000,285,1,368.40000,1,2,1,11
15478.00000,211,1,583.56000,1,3,1,11
15479.00000,369,1,147.40000,1,1,1,11
15487.00000,315,1,231.32000,1,1,1,11
15496.00000,267,1,146.14000,1,1,1,11
15499.00000,359,1,161.60000,1,1,1,11
15503.00000,362,1,120.06000,1,1,1,11
15524.00000,242,1,151.40000,1,1,1,11
15534.00000,361,1,162.25000,1,1,1,11
15548.00000,231,1,158.09000,1,1,1,11
15552.00000,259,1,162.40000,1,1,1,11
15558.00000,275,1,214.13000,1,1,1,11
15559.00000,204,1,1109.40000,1,4,1,11
15575.00000,255,1,30.10000,1,1,1,11
15588.00000,313,1,579.60000,1,3,1,11
15597.00000,211,1,238.80000,1,1,1,11
15603.00000,284,1,40.00000,1,1,1,11
15613.00000,246,1,433.72000,1,2,1,11
15630.00000,280,1,295.05000,1,2,1,11
15631.00000,278,1,596.67000,1,3,1,11
15642.00000,365,1,105.78000,1,1,1,11
15670.00000,192,1,152.15000,1,1,1,11
15672.00000,361,1,45.30000,1,1,1,11
15689.00000,253,1,266.93000,1,2,1,11
15693.00000,295,1,37.50000,1,1,1,11
15697.00000,325,1,246.75000,1,1,1,11
15698.00000,260,1,46.20000,1,1,1,11
15709.00000,225,1,194.60000,1,1,1,11
15720.00000,186,1,143.19000,1,1,1,11
15731.00000,189,1,125.30000,1,1,1,11
15742.00000,255,1,156.87000,1,1,1,11
15765.00000,302,1,370.63000,1,2,1,11
15770.00000,248,1,321.45000,1,2,1,11
15775.00000,267,1,45.60000,1,1,1,11
15818.00000,224,1,340.50000,1,2,1,11
15826.00000,204,1,943.97000,1,3,1,11
15833.00000,373,1,80.40000,1,1,1,11
15848.00000,257,1,139.94000,1,1,1,11
15868.00000,219,1,94.53000,1,1,1,11
15869.00000,262,1,174.02000,1,1,1,11
15875.00000,282,1,111.72000,1,1,1,11
15892.00000,305,1,128.20000,1,1,1,11
15905.00000,179,1,114.69000,1,1,1,11
15918.00000,267,1,248.65000,1,1,1,11
15924.00000,367,1,102.82000,1,1,1,11
15926.00000,178,1,134.44000,1,1,1,11
15927.00000,283,1,123.39000,1,1,1,11
15928.00000,292,1,293.53000,1,2,1,11
15929.00000,280,1,594.00000,1,3,1,11
15941.00000,273,1,405.00000,1,2,1,11
15954.00000,225,1,190.75000,1,1,1,11
15964.00000,299,1,272.96000,1,2,1,11

In [ ]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at risk',
    r'[1-2]5': 'cant loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions',
}

In [ ]:
rfm['segment'] = rfm['RFM_SCORE'].replace(seg_map, regex=True)

In [ ]:
rfm[["segment", "recency", "frequency", "monetary"]].groupby("segment").agg(["mean", "count"])

                      recency       frequency         monetary
                         mean count      mean count       mean count
segment
about_to_sleep       53.81924   343   1.20117   343  441.32000   343
at risk             152.15876   611   3.07365   611 1188.87832   611
cant loose          124.11688    77   9.11688    77 4099.45000    77
champions             7.11916   663  12.55354   663 6852.26417   663
hibernating         213.88571  1015   1.12611  1015  403.97784  1015
loyal_customers      36.28706   742   6.83019   742 2746.06735   742
need_attention       53.26570   207   2.44928   207 1060.35700   207
new_customers         8.58000    50   1.00000    50  386.19920    50
potential_loyalists  18.79304   517   2.01741   517  729.51099   517
promising            25.74713    87   1.00000    87  367.08678    87

In [ ]:
new_df = pd.DataFrame()

In [ ]:
new_df["new_customer_id"]=rfm[rfm["segment"]=="new_customers"].index

In [ ]:
new_df["new_customer_id"] = new_df["new_customer_id"].astype(int)

In [ ]:
rfm.head()

,recency,frequency,monetary,recency_score,monetary_score,frequency_score,RFM_SCORE,segment
Customer ID,,,,,,,,
12346.00000,165,11,372.86000,2,2,5,25,cant loose
12347.00000,3,2,1323.32000,5,4,2,52,potential_loyalists
12348.00000,74,1,222.16000,2,1,1,21,hibernating
12349.00000,43,3,2671.14000,3,5,3,33,need_attention
12351.00000,11,1,300.93000,5,2,1,51,new_customers

In [ ]:
new_df.head()

   new_customer_id
0            12351
1            12385
2            12386
3            12427
4            12441