In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
movie = pd.read_csv('desktop/movie.csv')

In [4]:
rating = pd.read_csv('desktop/rating.csv')

In [5]:
df = movie.merge(rating, how="left", on="movieId")
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41

In [6]:
#User Movie Df'inin Oluşturulması

In [7]:
df.shape

(20000797, 6)

In [8]:
df["title"].nunique()

27262

In [9]:
df["title"].value_counts().head()

title
Pulp Fiction (1994)                 67310
Forrest Gump (1994)                 66172
Shawshank Redemption, The (1994)    63366
Silence of the Lambs, The (1991)    63299
Jurassic Park (1993)                59715
Name: count, dtype: int64

In [17]:
comment_counts = df["title"].value_counts()

In [19]:
rare_movies = comment_counts[comment_counts <= 1000].index

In [22]:
common_movies = df[~df["title"].isin(rare_movies)]

In [23]:
common_movies.shape

(17766015, 6)

In [24]:
common_movies["title"].nunique()

3159

In [25]:
df["title"].nunique()

27262

In [26]:
user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")

In [27]:
user_movie_df.shape

(138493, 3159)

In [28]:
user_movie_df.columns

Index([''burbs, The (1989)', '(500) Days of Summer (2009)',
       '*batteries not included (1987)', '...And Justice for All (1979)',
       '10 Things I Hate About You (1999)', '10,000 BC (2008)',
       '101 Dalmatians (1996)',
       '101 Dalmatians (One Hundred and One Dalmatians) (1961)',
       '102 Dalmatians (2000)', '12 Angry Men (1957)',
       ...
       'Zero Dark Thirty (2012)', 'Zero Effect (1998)', 'Zodiac (2007)',
       'Zombieland (2009)', 'Zoolander (2001)', 'Zulu (1964)', '[REC] (2007)',
       'eXistenZ (1999)', 'xXx (2002)', '¡Three Amigos! (1986)'],
      dtype='object', name='title', length=3159)

In [29]:
# Item-Based Film Önerilerinin Yapılması

In [31]:
movie_name = "Ocean's Twelve (2004)"

In [32]:
movie_name = user_movie_df[movie_name]

In [33]:
user_movie_df.corrwith(movie_name).sort_values(ascending=False).head(10)

title
Ocean's Twelve (2004)                                 1.000000
Ocean's Thirteen (2007)                               0.681654
Ocean's Eleven (2001)                                 0.551280
Eddie (1996)                                          0.474808
National Treasure: Book of Secrets (2007)             0.474230
Eagle Eye (2008)                                      0.473061
Pirates of the Caribbean: On Stranger Tides (2011)    0.472446
Ocean's Eleven (a.k.a. Ocean's 11) (1960)             0.470412
Analyze That (2002)                                   0.459010
Bad Boys II (2003)                                    0.458827
dtype: float64

In [38]:
def check_film(keyword, user_movie_df):
    return [col for col in user_movie_df.columns if keyword in col]

In [39]:
check_film("Insomnia", user_movie_df)

['Insomnia (1997)', 'Insomnia (2002)']